

body{
    background-image:linear-Gradient(180deg,#5eb3b6,#0f5096);
    background-attachment: fixed;
    color:rgb(0, 0, 0, 0.65);
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
}
.Outer_cont{
    border: #0f5096;
    border-style: solid;
    padding: 2vh;
    border-width: 1.4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Yes_No{
    display: flex;
    justify-content: space-evenly;
}
.Button_Yes, .Button_No{
    height: 35px;
    background-color: #377bc4;
    color: aliceblue;
    border: solid;
    border-radius: 50%;
    border-width: 0.2px;
    border-color: #255283;
    margin: 0px;
    padding: 10px;
}
.Button_Yes:hover, .Button_No:hover{
    background-color:#377bc445 ;
    cursor: pointer;
}
.Button_No:hover, .Button_No:active{
    visibility: collapse;
}
.Button_Yes:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background-color: rgb(47, 255, 116);
    color: black;
    box-shadow: 10px 10px 20px rgb(23, 58, 23);
}
a{
    text-decoration: none;

}